version: "3.9"
services:
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8001:8000"
  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8002:8000"
  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8003:8000"
    environment:
      # URL-и інших сервісів
      AUTH_URL: http://auth-service:8000
      PRODUCT_URL: http://product-service:8000
    depends_on:
      - auth-service
      - product-service
